@import '@axa-ch/materials/styles/00-colors.scss';
@import '@axa-ch/materials/styles/30-layout.scss';
@import '@axa-ch/materials/styles/20-typography-and-text.scss';
@import '@axa-ch/materials/styles/10-helpers.scss';

* {
  box-sizing: border-box;
}

.o-baug__app {
  @include typo();

  display: block;
  padding: 20px 0;
  // Refactor when materials style is released
  background-color: $color-prim-gray-wild-sand;

  &__login-form {
    text-align: center;

    padding: 30 0 100px 0;
  }

  &__contract-form {
    &-wrapper {
      display: flex;
      flex-flow: wrap;
      box-sizing: border-box;
    }

    &-inputs {
      margin-bottom: 20px;
      flex: 0 0 100%;

      @include breakpoint($mediaquery-md-up) {
        flex: 0 0 45%;
        margin-left: 2%;
        margin-right: 2%;
      }
    }

    axa-button {
      margin-left: 0px;

      @include breakpoint($mediaquery-md-up) {
        margin-left: 20px;
      }
    }
  }

  &__new {
    padding: 10px 20px;
  }

  &__login-form-title {
    @include typo-title(large-2);
  }

  &__login-form-inputs {
    margin: auto;
    margin-bottom: 20px;
    max-width: 400px;

    axa-input-text {
      margin-top: 15px;
      display: block;

      &:last-child {
        margin-bottom: 40px;
      }
    }

    &__valid-field {
      // Refactor when materials style is released
      color: $color-validation-error;
    }
  }

  &__police-detail {
    @include clearfix();
    padding: 20px;

    .a-input-text__wrapper {
      max-width: 100%;
      float: left;
      margin-bottom: 20px;

      @include breakpoint($mediaquery-md-up) {
        max-width: 50%;
      }

      @include breakpoint($mediaquery-lg-up) {
        max-width: 33%;
      }

      .a-input-text__input {
        color: $color-prim-gray-mine-shaft;
      }
    }
  }

  &__home-section {
    padding: 5px 20px;

    &-label {
      @include typo(large);

      display: inline-block;

      padding: 5px 5px 10px 10px;

      font-weight: bold;
    }
  }

  &__home-section-title {
    @include typo-title(large-1);

    margin-bottom: 10px;
  }

  &__nav {
    @include clearfix();

    background-color: $color-prim-white;
    margin-bottom: 20px;
    padding: 30px;

    height: 160px;

    overflow-x: auto;

    axa-link {
    }

    &-button {
      float: left;
      border: none;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;

      color: $color-prim-white;
      text-transform: uppercase;

      font-weight: 600;
      font-style: normal;

      background: transparent;

      line-height: 20px;
      letter-spacing: 0.02em;
      font-size: 14px;

      /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
      line-height: normal;

      margin-left: 15px;

      display: inline-block;

      width: 180px;
      height: 100px;

      padding: 5px;

      background-color: $color-prim-blue-deep-sapphire;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__contracts {
    padding: 0 20px 5px 20px;

    h1 {
      @include typo-title();
      margin-bottom: 5px;
    }

    axa-dropdown {
      margin-top: 5px;
    }

    &-separator {
      height: 1px;
      width: 70%;
      margin: auto;
      position: relative;
      margin-top: 30px;
      margin-bottom: 5px;

      &:before {
        content: "";
      	position: absolute;
      	top: 0;
      	left: 5%;
      	right: 5%;
      	width: 90%;
      	height: 1px;
      	background-image: linear-gradient(to right, transparent, $color-prim-blue-deep-sapphire, transparent);
      }
    }

    &-description {
      margin-top: 15px;
    }

    .m-dropdown__error,
    .a-input-text__check-wrapper {
      display: none;
    }
  }

  &__content {
    padding: 20px 5px;
    background-color: $color-prim-white;
    border-left: 1px solid $color-prim-gray-mercury;
    border-right: 1px solid $color-prim-gray-mercury;
    position: relative;

    &-table {
      max-height: 900px;

      overflow-y: auto;

      &-title {
        @include typo(primary, x-large);
        margin: 10px 0 20px 0;
        padding-left: 20px;
      }

      &-pagination {
        text-align: center;
        margin-bottom: 20px;
        min-height: 40px;

        &-text {
          padding: 0 20px;
        }
      }

      &-search {
        padding: 0 20px 20px 20px;

        @include breakpoint($mediaquery-lg-up) {
          position: absolute;
          left: 0px;
        }
      }

      &-section {
        @include clearfix();
        position: relative;
        min-height: 700px;

        @include breakpoint($mediaquery-md-up) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }

  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-left: 40px;
    margin-top: 20px;
  }
  .lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $color-prim-blue-deep-sapphire;
    border-color: $color-prim-blue-deep-sapphire transparent
      $color-prim-blue-deep-sapphire transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
