// I choose to have a single file for scss as i aim to use as much as
// possible from the patterns-library. If this file gets too complex, ergo above 300 lines,
// I will refactor it and include scss in the pages/components that are
// the users of the style

.o-baug__app {
  display: block;

  &__form {
    text-align: center;
  }

  &__form-inputs {
    margin-bottom: 20px;

    label {
      display: block;
    }

    &__valid-field {
      // Refactor when materials style is released
      color: #c91432;
    }
  }

  &__nav {
    // Refactor when materials style is released
    background-color: #f5f5f5;
    padding: 5px 5px;
    padding-bottom: 0;

    font-size: 18px;

    // Refactor when materials style is released
    border-bottom: 1px solid #e5e5e5;

    axa-link {
      margin: 5px;
      padding: 5px 10px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      // Refactor when materials style is released
      background-color: #fff;
      // Refactor when materials style is released
      border-top: 1px solid #e5e5e5;
      // Refactor when materials style is released
      border-left: 1px solid #e5e5e5;
      // Refactor when materials style is released
      border-right: 1px solid #e5e5e5;

      margin-bottom: -1px;

      transition: 0.2s border ease-in-out;

      &:hover,
      &:active,
      &:focus {
        border-top: 1px solid #00008f;
        // Refactor when materials style is released
        border-left: 1px solid #00008f;
        // Refactor when materials style is released
        border-right: 1px solid #00008f;
      }
    }
  }

  &__content {
    padding: 20px 0;
  }
}
